<!doctype html>
<link href="../static/bootstrap-5.0.1-dist/css/bootstrap.css" rel="stylesheet">
<script src="../static/bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!--<link rel="stylesheet" href="css/styles.css?v=1.0">* -->

</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>